@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Playfair+Display&family=Ubuntu:wght@300&display=swap");
a, input, textarea, button {
  outline: none;
}

body {
  font-family: 'Playfair Display', serif;
}

.page-light {
  background-color: #ffffff;
}

.page-gray {
  background-color: #f0f0f0;
}

.wrapper {
  width: 1200px;
  padding: 0 100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2.5rem;
}

.header__title {
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.header-nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header-nav-list-item {
  margin-left: 7rem;
  text-transform: uppercase;
}

.top {
  margin-top: 7.5rem;
}

.content-text {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 5rem;
}

.content__text {
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
}

.content__title {
  font-size: 30px;
  color: #626262;
}

.content__mainTetx {
  color: #626262;
  line-height: 24px;
  font-size: 14px;
}

.content__comment {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: #b4ad9e;
  margin-top: 2rem;
}

.img-xl {
  width: 100%;
}

.img-xl img {
  width: 100%;
}

.img-l img {
  width: 100%;
}

.bottom {
  margin-bottom: 2rem;
}

.post {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-item {
  max-width: 420px;
}

.post-item_author {
  color: #b4ad9e;
  text-transform: uppercase;
}

.post-item__title {
  font-size: 30px;
  font-weight: 700;
  color: #626262;
}

.post-item__text {
  font-size: 14px;
  color: #626262;
}

.post-bottom {
  margin-bottom: 5%;
}

.form__title {
  padding-top: 100px;
  text-align: center;
  font-size: 30px;
}

.form-main {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
  text-align: center;
  position: relative;
}

.form-main__input {
  width: 40%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-main__btn {
  position: absolute;
  right: 30%;
  border: none;
  cursor: pointer;
}

.conteinet {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.conteinet-item {
  width: 430px;
  margin-right: 6rem;
}

.conteinet-item:last-child {
  margin: 0;
}

.conteinet__author {
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}

.conteinet__title {
  color: #626262;
  font-size: 30px;
}

.conteinet__text {
  color: #626262;
  font-size: 14px;
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}

.link-links {
  color: #b4ad9e;
  border: 1px solid #b4ad9e;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
}

.footer {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  display: flex;
}

.footer-text__text {
  margin-right: 2rem;
}

.footer-text__text:last-child {
  margin-right: 0;
}

.footer-links-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer-links-list__text {
  font-size: 14px;
  margin-right: 1rem;
}

.footer-links-list-item {
  margin-right: 1rem;
}

.footer-links-list-item:last-child {
  margin: 0;
}
